#articles{
    background-color: green;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
#articles>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 800px;
    width: 40%;
}
#articles img{
    width: 40%;
}
article{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
}
/*Chaque article pair, l'image et inversé avec le text*/
#articles article:nth-of-type(even){
    flex-direction: row-reverse;
}
#articles h1{
    margin: 0;
    text-align: center;
    padding-top: 40px;
    text-shadow: 4px 4px crimson;
    font-size: 40pt;
    width: 100%;
}
article h2{
    text-shadow: 3px 3px crimson;
    font-size: 28pt;
}
article p{
    padding-top: 10px;
}